
#CategoriesList {
  display: flex;
  border: none;
  border-radius: 30px;
  width: 95vw;
  margin: 0px 10px;
  min-height: 530px;
  height: auto;
  flex-wrap: wrap;
  background-color: white;
  box-shadow:-10px 10px 10px rgba(0, 0, 0, 0.165);
  padding: 20px;
  align-content: baseline;
  row-gap: 10px;
}






