#InputForm {
  display: flex;
  gap: 20px;
  margin: 0px 10px;
  padding: 10px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 50px;
  background-color: white;
}
#TextBox {
  border: none;
  padding: 0px 10px;
  font-size: 1.2em;
  border-radius: 20px;
  box-shadow: inset -2px 2px 2px rgba(0, 0, 0, 0.2); /* Inset box shadow for the inset effect */
}
#TextBox:focus {
  outline: none;
}
#TextBox::placeholder {
  opacity: 40%;
}
#SubmitButton {
  color: white;
  background-color: lightblue;
  border: none;
  font-size: 1.1em;
  border-radius: 30px;
  padding: 10px;
  height: 50px;
  box-shadow: -1px 1px 2px lightgray;
}

#SubmitButton:hover {
  background-color: lightskyblue;
}
#SubmitButton:active {
  box-shadow: inset -2px 2px 5px rgba(0, 0, 0, 0.422);
}

#ColorPicker {
  background-color: white;
  border-radius: 20px;
  max-height: 44px;
  padding: 10px;
}
#ColorList {
  display: flex;
  padding: 0px;
  gap: 10px;
  margin: 0px auto;
}
#ColorList > button {
  list-style-type: none;
  border: none;
  min-width: 30px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
#Red {
  background-color: rgb(249, 123, 109);
}
#Orange {
  background-color: rgb(255, 186, 95);
}
#Blue {
  background-color: lightblue;
}
#Yellow {
  background-color: rgb(255, 255, 154);
}
#Green {
  background-color: rgb(192, 255, 190);
}
#Purple {
  background-color: rgb(255, 190, 230);
}
