#Instructions {
    width: 400px;
    height: fit-content;
    background-color: lightgoldenrodyellow;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    align-content: top;
    font-size: 0.7em;
  }