.Task {
  margin: 5px 0px;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  animation: slideIn 0.5s ease-in;
  transition: 0.2s ease;
  box-shadow: -2px 2px 2px lightgray;
}
.Content {
  margin: 0px;
  text-wrap: wrap;
  word-wrap: break-word;
  width: 365px;
  user-select: none;
}
.Pending {
  background-color: rgb(255, 182, 182);
}
.In-Progress {
  background-color: rgb(255, 255, 92);
}
.Completed {
  background-color: lightgreen;
}
.Deleting {
    animation: slideOut 1s linear;
}
@keyframes slideIn {
  from {
    opacity: 0%;
    transform: translateX(-30px);

  }
}
@keyframes shrink {
  to {
    opacity: 0%;
    transform: scale(0);
  }
}
.RemoveTaskButton {
    align-self: flex-end;
    background-color: transparent;
    text-align: center;
    border: none;
    font-size: 1em;
    height: 30px;
    aspect-ratio: 1/1;
    line-height: 30px;
    color: gray;
    user-select: none;
    background-color: lightyellow;
    border-radius: 50%;
    box-shadow:inset -2px 2px 2px lightgray;

}
